<p>আর কতটা বাসল্যে ভালো </p>
<p>ছুঁইয়েও ছ্যুতে লারছি ছ্যুতে, বলত্যে লারছি তুখে</p>
<p> হড়বড়াছ্যে পেমের কথা ফুটছ্যে নাইখ মুখে</p>
<p> দেখ ভাইলে নাই সুখে। </p>
<p>লজর দিলেই দেখত্যে পাথিস আমার চখের ভাষা </p>
<p> বুঝেও কি তুই বুঝত্যে লারিস আমার ভালবাসা</p>
<p> তুখে পাওয়ার আশা। </p>
<p>আকাশ সমান মনটা আছে মনে পলাশ হাসে</p>
<p>আর কতটা বাসল্যে ভালো পাব তুখে পাশে </p>
<p> হিদয় ডাঙার ঘাসে। </p>
<p>আর কতটা কাটল্যে সাঁতার তুর কাছে বল্‌ যাব</p>
<p> আর কতটা নামল্যে লিচে বল-ন তুখে পাব</p>
<p> পেমের হাওয়া খাব। </p>
<p>মনের ভিতর রঙিন গোলাপ নাই লিলি তুই কা’ড়্যে</p>
<p> ইচ্ছা ছিল চাঁদকে ছুঁয়ার চাঁদনি গেল ছাড়্যে </p>
<p> মনের স্বপুন মাড়্যে। </p>
