<p>কবি তরুণ বাউরি একটি বহুল প্রচারিত নাম। ছাত্রাবস্থা থেকেই সারস্বত
সাধনায় নিমগ্ন এই কবি ছোটদের বড়দের উভয় স্তরের লেখাতেই সিদ্ধহস্ত। অনেক কম
বয়স থেকেই প্রচুর ছোট বড় কাগজে নিয়মিত লিখে আসছেন। তারই বলিষ্ঠ ফসল আঞ্চলিক
উপভাষার কবিতা সংকলন “মিছিল”। এর প্রথম সংস্করণ নিঃশেষিত। তাই প্রকাশক
মহাশয় সম্পূর্ণ নিজস্ব উদ্যোগে “মিছিল” -এর পরিবর্ধিত ও পরিমার্জিত সংস্করণ
প্রকাশ করছেন। কবির কাছে যা এক আনন্দ সংবাদ। এটাই তার কাছে পরম
প্রাপ্তি।</p>
<p>সমাজ জীবনের সবদিকে কবির অবিরাম নিরীক্ষণ চলমান। সমাজের সাধারণ মানুষের
সুখ, দুঃখ, প্রেম, ভালোবাসা, ক্ষোভ, বঞ্চনা কোন কিছুই কবির চোখ এড়ায় না;
এগুলিই তাঁর লেখার মুল বিষয়বস্তু। তাঁর প্রতিটি কাব্যেই ফুটে ওঠে সমাজের
লুক্কায়িত চেহারা; যা আমরা প্রতিদিন দেখি, শুনি, অনুভব করি কিন্তু সময় করে
পর্যবেক্ষণ করার আগ্রহ দেখাই না। এই কাব্য সংকলনের অধিকাংশ কবিতাই মানুষের
মুখে মুখে ঘুরছে। বিভিন্ন অনুষ্ঠান, বিভিন্ন মাধ্যমে এগুলি অহরহ আবৃত্তি
হচ্ছে। আঞ্চলিক কবিতার মধ্যেও যে এত গভীরতা আনা যায়, কবির কবিতা পড়লে তা
সহজেই অনুমেয়। একটু লক্ষ্য করলে দেখা যাবে, কবির বেশিরভাগ কবিতাই মিছিলে
মিছিলে মানুষের স্লোগান হয়ে জনবিরোধী শাসকের বুকে বেত্রাঘাত করে।
স্বাধীনচেতা, আদর্শবাদী, দৃঢ় মানসিকতার কবি, তরুণ বাউরি এক আপোসহীন ছান্দিক
যোদ্ধা। তাঁর আঞ্চলিক উপভাষার কবিতার বলিষ্ঠ গঠন আপামর পাঠকসমাজ সহ প্রতিটি
লাঞ্ছিত, বঞ্চিত মানুষের মধ্যে সাড়া ফেলবেই এ আমার দৃঢ় বিশ্বাস। </p>
<p>মণিহারা, পুরুলিয়া গোপাল কুম্ভকার</p>
<p>১লা বৈশাখ, ১৪২৯</p>
