<p>গোদের উপর বিষফোঁড়া</p>
<p>বলি হে আইজ্ঞা ইটা কি হছ্যে</p>
<p>সেই ভেড়া পালের মতন দল বদলাছ্যে ত বদলাছ্যেই</p>
<p>ই যে ঠক বাছত্যে যায়্যে গাঁ উজাড় হে!</p>
<p>#</p>
<p>ই-দল থাক্যে উ-দল, উ-দল থাক্যে সে দল</p>
<p>যে আসছ্যে সেই বলছ্যে মানুষের উন্নয়ন করত্যে চাই</p>
<p>আর যে যাছ্যে সেও বলছ্যে উন্নয়নের কথা। </p>
<p>ত বলি হে বাপ তরা সবাই যদি মানুষের জন্য ভাবিস</p>
<p>তবে মারামারি কাটাকটি বাখান না দিয়ে</p>
<p>আয়-ন সবাই একসঙ্গে বস্যে কাজ করি</p>
<p>গরিব রুখা সুখা মানুষের সাথে বস্যে </p>
<p>একটা রাস্তাতেই হাঁটি, সবাই যখন খাঁটি!</p>
<p>আজকে যাকে বাখান দিছ্যে কাল তাকে ফুল দিছ্যে</p>
<p>সেই গিরগিটির রঙ বদলের মতন। </p>
<p>#</p>
<p>আমি আইজ্ঞা বাউরি ঘরের মুখ্‌খু সুখ্‌খু </p>
<p>লেলহা ভেলকা জুয়ান ছোকরা, </p>
<p>সাতে নাই পাঁচে নাই, দিন আনি দিন খাই।</p>
<p>গা গতর খাটায় রোজগার করি। </p>
<p>দাদু ছিল বাঁড়ুজ্যা ঘরের বাঁধা মুনিষ</p>
<p>বাপ-ট কর‍্যে গরু বাগালি</p>
<p>আর আমি হল্যম দিন খাট্যয়া।</p>
<p>সাত পুরুষ লে একই আছি - </p>
<p>যদ্দিন খাটব্য তদ্দিন খাব</p>
<p>তারপর দেখা যাবেক ভগবান ভরসা।</p>
<p>রাজনীতির প্যাঁচ পাঁচ নাই বুঝি আইজ্ঞা</p>
<p>আর উ-সব বুঝ্যেই বা কি করব্য?</p>
<p>যেমন ছিলি তেমনি আছি, এমনি করেই আমরা বাঁচি।</p>
<p>তবে ইবার ভাব্যেছিলি কিছু একটা ইধার উধার হবেক</p>
<p>ভেড়া পালের লাইন ঢের বড় ছিল হে। কিন্তু কই</p>
<p>ত বলি হে খুড়া ই বলছ্যে তুই চোর</p>
<p>উ বলছ্যে তুই চোর । </p>
<p>আমার মনে হয় সব ব্যাটাই চোর</p>
<p>আর চোরে চোরে মাসতুতো ভাই এর ইটা কানামাছি খেলা চলছ্যে</p>
<p>দিদি গেলে দাদা আইসবেক দাদা গেলে দিদি। </p>
<p>কিন্তুক লোক গুলান তো সেই একই থাইকবেক। </p>
<p>ইকুল ছাইড়ে উকুল, জড়ায় আছে মুকুল। </p>
<p>ই ফুল ছাইড়ে সে ফুল, রাখব্য এখন কোন ফুল। </p>
<p>পিসি এবং ভাইপো মিলে বাংলাটাকে খাল্য গিলে। </p>
<p>আসে যদি দাদার দল, দেখবি আরও কত ছল। </p>
<p>গরিব মানুষ হছ্যে বলি, লাশের উপর চলছ্যে হোলি। </p>
<p>মন্ত্রী নেতার কোলাকুলি চারদিকে আজ গোলাগুলি। </p>
<p>উধারে মারছ্য তুমি তালি, ইধারে মারছি আমি তালি। </p>
<p>#</p>
<p>না আইজ্ঞা ইগুলান আর নাই ভালো লাগছ্যে</p>
<p>ঠাণ্ডা ঘরে বস্যে লাগাই দিছে ল্যাঠা</p>
<p>আর মরছি শুধু আমি কিংবা তুমি!</p>
<p>মরণ খেলার মাঠে আমাদেরকে নামাই দিয়ে</p>
<p>ফায়দা ত তুলছ্যে দাদা না হয় দিদি। </p>
<p>ভাব্যেছিলি দলবদল্যা ভেড়াগুলান হয়তো</p>
<p>গোদের উপর বিষফোঁড়া হয়্যে উঠব্যেক</p>
<p>কিন্তুক না! মনে হয় সব কিছু সেটিং হে সব কিছু সেটিং!</p>
<p>#</p>
<p>তার-লে আস্য ন খুড়া </p>
<p>সব রুখা ভুখা মানুষ গুলান একসা হয়্যে</p>
<p>বিষফোঁড়া গুলাকে থেঁথলে, সেটিং-টকে ভাঙ্যে</p>
<p>সত্যি কারের এমন একটা শাসন ব্যবস্থা গড়্যে তুলি</p>
<p>যেখানে মানুষে মানুষে ভেদাভেদ থাকব্যেক নাই, </p>
<p>গরিব মানুষ দুবেলা দুমুঠা খাত্যে পাবেক</p>
<p>বন্ধ হবেক খুন খারাপি রাহাজানি। </p>
<p>আস্য ন খুড়া এমন একটা সমাজ গড়ি</p>
<p>যেখানে কৃষক বাঁচব্যেক মাথা তুল্যে</p>
<p>নারী বাঁচব্যেক লিজের সম্মান লিয়ে। </p>
<p>কি আমি কনহ ভুল বললি?</p>
<p>যদি ভুল না বল্যে থাকি - তবে আস্য</p>
<p>এক সাথে জোট বাঁধ্যে একটা লতুন ভোর লিয়ে আসি</p>
<p>যে ভোরের আলোয় বাজ্যে উঠব্যেক সাম্য ও শান্তির গান</p>
<p>আর সেই গানের সুরের ঝলকানিতে</p>
<p>দূর হঠব্যেক মুখোশধারি রঙ বদলি মানুষ। </p>
<p>ভোরের পাখির ডাকে ভাঙ্যে চৌচির হয়ে যাব্যেক</p>
<p>ধান্দাবাজি, সুবিধাবাদীর গোপন জোট। </p>
