<p>খেলা</p>
<p>চাকরি বাকরি কনহ নাইখ হছ্যে দমে খেলা </p>
<p>পাঁচশ টাকায় মা বহিনের মন ভুলাবার খেলা।</p>
<p>শ্রীতে কি আর মন ভরে গো যদি থাকে খিদা</p>
<p>স্বাস্থ্য সাথির কাড় হাতেই ত ম’রল্য আমার দিদা।</p>
<p>পাশ বালিশের শিল্প হবেক কিম্বা তেলে ভাজা</p>
<p>আবল তাবল ঝাইড়ছ্যে বুলি মন্ত্রি নেতা রাজা।</p>
<p>ইস্কুলে আজ মাস্টর কই কে পড়হাবেক ছে’লা</p>
<p>ঋণের দায়ে ম’রছ‍্যে চাষী ম’রছ‍্যে কত হে’ল‍্যা । </p>
<p>ভুখা পেটের কাঁদনাটুকু শুইনবেকই বা কারা</p>
<p>লিজের পেট ট ভরার লাইগে সবাই পাগল পারা।</p>
<p>উন্নয়নের বুলি শুইনে রঙিন স্বপুন দেখি</p>
<p>কিন্তু এখন ব্যুঝে গেছি আসল কেবা মেকি।</p>
<p>খেলা হবেক খেলা হবেক বুঝেছি কি খেলা</p>
<p>মরণ খেলার জবাব দিব বুঝব্যে ইবার ঠেলা। </p>
<p>দেখছি ফাঁকা ঘরে রুমাল ঢাকা লুঠের খেলা</p>
<p>গরু বালি সনা পাচার এই ত তুদের খেলা। </p>
<p>প্রতিবাদী আনিস খুনে পুলিশ নিয়ে খেলা</p>
<p>উন্নয়নের মিছা কথায় কানামাছির খেলা। </p>
<p>চাকরিতে ঘুষ দিগে দিগে রকত্ চুষার খেলা</p>
<p>তোলাবাজি কাটমানি আর ভাঁড়ার খালির খেলা। </p>
<p>চালাকি আর ভড়ংবাজি বহুত হল্য দেখা</p>
<p>মানুষ খাওয়া দিনের কথা রইবে বুকে লেখা। </p>
