<p>ই মরণ মেধার মরণ</p>
<p>সেদিন রাত্যে তখন দশটা হবেক</p>
<p>খাত্যে বস্যেছিলম একসঙ্গে সবাই</p>
<p>মাড়ভাত আর পাঁচমিশালি শাগ</p>
<p>লুলহা ডুবাই হাপ্যুটে হাপ্যুটে হাসি মুখে </p>
<p>ভালোই চলছিল খাওয়া দাওয়া- </p>
<p>আমার সিক্সে পড়হা মায়াটা হঠাৎই বলল্য</p>
<p>মা গো আর টুকু মাড় হবেক। </p>
<p>লেলহির মা একবার আমার দিগে</p>
<p>একবার ব্যাটার দিগে আড় চখ্যে ভাল্যে</p>
<p>লিজের থালের মাড়-ট লেলহিকে দিয়ে</p>
<p>ঢক্‌ ঢক্‌ কর‍্যে দু-গিলাস জল খাইয়ে</p>
<p>চুপচাপ উঠ্যে গেল বাহির দিগে। </p>
<p>ব্যাটাটর দিগে লজর করতেই দেখলি</p>
<p>জাম ভরতি মাড়ে হাতড়াই হাতড়াই ভাত খুঁজছে</p>
<p>তারপর কি যে হল্য লিজেই বুঝত্যে লারলি,</p>
<p>মু থাক্যে বাইরায় গেল, </p>
<p>বলি হে ব্যাটা অনেক দূর তো পড়লি</p>
<p>যখন যা খুঁজেছিস সব দিয়েছি</p>
<p>সাত দুয়ার গতর খাটাইছি তুদের মুহের দিকে ভাল্যে</p>
<p>শরীলকে শরীল বলি নাই- </p>
<p>ত বলি হে বাপ – কলেজটাও ত শেষ হল্য</p>
<p>আমাকে সবাই বলে, তুর ব্যাটার এত ভালো রেজাল্ট, </p>
<p>দেখবি ভালো কিছু একটা চাকরিবাকরি হব্যেক</p>
<p>কিন্তু কখন হবেক বাপ- </p>
<p>গতর যে আর নাই চলছ্যে!</p>
<p>তুরই সঙ্গে পড়ত্য রেশন ডিলার শ্যাম ঠাকুরের ব্যাটা</p>
<p>তিনবার পরীক্ষা দিয়ে কনহ রকমে পাশ - </p>
<p>কলেজ ত দেখল্যই নাই- </p>
<p>কিন্তু দ্যাখ পাইমারি স্কুলের মাষ্টর হয়্যে</p>
<p>ধব ধব্যা জামা পরহে কেমন মকমক্যাছ্যে</p>
<p>আর তুই? তুই ত সব কিছুতেই বলিস-</p>
<p>ইবার হবেক, ভালো পরীক্ষা হয়েছ্যে</p>
<p>তুই যখন বলিস ইবার কিছু একটা হবেক</p>
<p>তখন আমার শিরা গুলান খুশিতে লাচত্যে থাকে</p>
<p>তুর মা রাত জাগ্যে গুন গুন কর‍্যে</p>
<p>লতুন লতুন স্বপ্নের গানে সুর তুলে</p>
<p>লেলহি খিলখিল করে হাসি মাখা মুখে</p>
<p>বলে কি মজা কি মজা, ইবার পূজায় </p>
<p>জামা লিব, একটা শাড়ি লিব, চুড়ি, </p>
<p>নখ পালিশ আর কত কি! </p>
<p>ত বলি ইবার একটা কিছু কর আর যে লারছি! </p>
<p>আমার কথাগুলান ঘাড় নিচু কর‍্যে শু’নে</p>
<p>চুপচাপ উঠ্যে গেল মাড় টুকু না খায়্যেই। </p>
<p>তার পর সকালে উঠ্যে হুড়কা ঠেল্যে</p>
<p>উঠাত্যে যায়্যে দেখ্যে চমক্যে গেলি</p>
<p>মড়কচাতে দড়ি বাঁধ্যে ফাঁসি লিয়ে লিয়েছে! </p>
<p>কাঁদ্যে বুক ভাসালি, মাথা ঠুকলি দিয়ালে</p>
<p>কাঁদত্যে কাঁদত্যে দেখলি এক টুকরা কাগজে লেখা আছে</p>
<p>“টাকা যার চাকরি তার; মেধা মূল্যহীন”</p>
<p>ই মরণ মেধার মরণ আইজ্ঞা; ই মরণ জ্ঞানের মরণ।</p>
