<p>বিচারেই ভরসা</p>
<p>ডোমের একটা চাকরি হবেক বিধি হল্য জারি</p>
<p>উচ্চ শিক্ষায় শিক্ষিতরা দাঁড়াই সারিসারি।</p>
<p>সনার বাংলার লেংটা রূপ ট দেখল্য জগৎ জুড়্যে</p>
<p>বিজ্ঞাপনে মুখ ঢাকলেও মুখট গেল পুড়্যে।</p>
<p>না খাঁয়ে আজ বেকার গুলান ঘুরছে কোর্টের পাশে</p>
<p>যোগ্য লোকের চাকরি হবেক এই দাবিটার আশে।</p>
<p>কাশের শিল্প, <em>ঘাসের</em> শিল্প, লাইগছে নাই আর ভালো</p>
<p>স্থায়ী কাজের স্বপুন বুকে খুঁজছে মানুষ আলো।</p>
<p>অল্প মাইনার চাকরি হলেও হছ্যে চুপিসারে</p>
<p>ঘুসের খেলা কেমন খেলা বুঝছ্যে ঠারে ঠারে</p>
<p>বিশ্বাস ট আজ হারাই <em>যাছে</em> লিজের মনের থাক্যে</p>
<p>শাক দিয়ে কি মাছ ঢাকা যায় যতই দ্যাখ চাখ্যে।</p>
<p>পরীক্ষাতে না বসে আজ মাস্টর হয়্যে যাছ্যে।</p>
<p>মন্ত্রী আমলার ভাই ভাতিজা বেশ ত কর‍্যে খাছ্যে</p>
<p>আদালত টাই হানা দিছে চোরের আতুড় ঘরে</p>
<p>সবাই কেমন সঁটক্যে আছে সিবি.আই এর ডরে</p>
<p>জজ সাহেবরা দাঁড়াই আছে মাথা উঁচু কর‍্যে</p>
<p>জেলখানা ট ভরায় দিবেক চোর গুলানকে ধর‍্যে</p>
<p>ঘুষ নামক এই মরণ খেলা চলত্যে থাকে যদি </p>
<p>যুব সমাজ উঠলে জাগ্যে লড়্যে যাবেক গদি</p>
<p>বাঁচার জন্য বাঁধছ্যে যে জোট সময় আছে হাতে</p>
<p>সময় থাকত্যে বুঝ না হয় মরব্যে প্রতিঘাতে। </p>
