<p>একবার মরাই ভালো</p>
<p>ভাইঙে দাও ভাইঙে দাও ভাইঙে ছেতরি ফুটা করে দাও</p>
<p>শাসকের ওই ব্যারিকেট </p>
<p>যে শাসকের হাতে লাইগে আছে কৃষকের রকত্‌</p>
<p>যার চামড়া থাইকে শন শন কর‍্যে বাইরায় ধর্ষিতার গোঙানি </p>
<p>যে শাসক উন্নয়নের ফিরিস্তি শুনায়্যে </p>
<p>দ্যাশটাকে বিদ্যাশের কাছে ল্যাংটা করে ভ্যাংচা লাচে </p>
<p>তাঁর নকল মুহা ট খুল্যে আসল রূপটা বা’র কর‍্যে </p>
<p>পিছনটায় ডুগডুগি বাঁধ্যে ঢেংরিটা দাও পিটাই </p>
<p>অনেক হয়েছ্যে অনেক, আর না আর না</p>
<p>ভাষণ শু’নে শু’নে চ্যুল গেল পাক্যে</p>
<p>কাড়ার মতন গতরটা ডিংলা খাড়ার মতন</p>
<p>ঝিমায় ঝিমায় কেমন ভেদকে গেল</p>
<p>ইবার সময় হয়েছে - জাগার সময় </p>
<p>বুক ছাতি সজা রাখ্যে মাথাটাকে উঁচাই</p>
<p>লিজের আঙ্গ্যুলটাকে চিরে রকত্‌ বা’র কর‍্যে </p>
<p>ফিকা হয়্যে যাওয়া পতাকাটাকে রাঙাই </p>
<p>বাঘের মতন গর্জাই লিজেদের হক দাবী </p>
<p>আর ভাত-রুটি কাইড়ে লিবার সময়। </p>
<p>শালা প্রতিশ্রুতি শু’নে শু’নে বুড়হাই গেলি</p>
<p>কান গুলা ভোঁতা হইয়্যে গেল</p>
<p>অথচ – বেকার গুলা আজও রাস্তায় মাথা ঠুকছ্যে </p>
<p>কৃষক ভাই ফসলের লায্য দাবিতে </p>
<p>হাউ হাউ কাঁদ্যে রাজপথ ভাসাছ্যে </p>
<p>মা-ব্যুন গুলা নিশ্চিন্তে পথঘাটে </p>
<p>ঘুরত্যে লাইরছ্যে লিজের মতন করে।</p>
<p>এমনি কর‍্যে কি আর বাঁচা যায়? </p>
<p>মর‍্যে মর‍্যে বাঁচার থা’কে মাথা উঁচা কর‍্যে</p>
<p>একবার মরাই ভালো! </p>
