<p>ভুঁইফোড় শিল্পী</p>
<p>হেঁ কাকা তুমি ত জানো</p>
<p>আমি টুকুটাকু ঝুম্যুর গান লেখি আর সুর দিই</p>
<p>কিন্তু যা দেখছি আর শুনছি</p>
<p>তাতে ত চ’খ আমার চড়ক গাছ্যে উঠ্যে যাছ্যে!</p>
<p>একবার কর‍্যে মনে হছ্যে সব কিছু ছাড়্যে - </p>
<p>ঘর ভিতরে কানে তুলা গুঁজ্যে বস্যে থাকি</p>
<p>কইলকাতার কিছু ফ্যচকা ছে’লা মায়া পুরল্যার ঝুম্যুর গুলান</p>
<p>উলটায় পালটায় কালি ছিটাই নাম কামাই কর‍্যে খাছ্যে।</p>
<p>আর হাততালি? সে আর কি বলব কাকা - </p>
<p>হাত তালিতে গর্বে বুকটা ভর‍্যে যাবার কথা,</p>
<p>কিন্তুক চখ্যের জলে বুক ট ভাস্যে যাচ্ছ্যে।</p>
<p>পুরুল্যার লোকগানকে ডুবাই ছাড়ছ্যে যে কাকা</p>
<p>দেখছ্য নাইখ – শালারা ছাগল লাদাড়িকে </p>
<p>ছাগল দাড়ি বল্যেই চালাই দিছ্যে!</p>
<p>#</p>
<p>আর সেই গান ট শুন নাই - </p>
<p>যেটা এখন হাটে বাজারে সবার মুখে মুখে ঘুরছ্যে</p>
<p>“কাল জলে কুচল্যা তলে ডুবল সনাতন</p>
<p>আজ সারানা কাইল সারানা পাইনা দরশন”</p>
<p>ছিঃ ছিঃ কাকা ছিঃ ছিঃ - </p>
<p>ইহারা শিল্পী লয়। শিল্পীর কলঙ্ক বটে</p>
<p>সারানা সারানা কর‍্যেই পা’র কর‍্যে দিছ্যে</p>
<p>কোনো মানে নাই, অর্থ নাই। </p>
<p>কেউ কেউ ত বলছ্যে </p>
<p>‘আইজ চার আনা কাল চার আনা পাই যে দরশন’</p>
<p>আমার কি মনে হছ্যে জানো কাকা </p>
<p>ই সব শুনার থাক্যে মর‍্যে যাওয়া ভালো! </p>
<p>তুমি ত জানো কাকা আসল গান ট কি রকম- </p>
<p>“আলো জ্বলে কুচল্যা তলে ডুবল সনাতন</p>
<p>আইজ সারাদিন কাইল সারাদিন পাইনা দরশন”। </p>
<p>#</p>
<p>পুরুল্যা উঠল্য ন ফুটল্য</p>
<p>কারো কনহ যায় আসেনা কাকা। </p>
<p>দেখল্যে নাই, কদিন আগে</p>
<p>সরকার একট মদ বাজারে ছাড়্যে</p>
<p>নাম দিয়ে দিলেক – ‘ঝুম্যুর’! </p>
<p>বলি কন বউকে বলব্য ভালো,</p>
<p>ভাত বসায়্যে হাগত্যে গেল। </p>
<p>#</p>
<p>কথায় কথা বাড়্যে কাকা </p>
<p>আর না বলল্যেও রইতে লারি</p>
<p>কিছু কিছু লোক ত এখন ব্যবসা ফাঁদ্যে বসেছ্যে,</p>
<p>লিজে কবিতার ক টি পর্যন্ত জানে নাই</p>
<p>তবু ই বই সে বই থাক্যে টুকলি কর‍্যে</p>
<p>বই প্রকাশ করে নাম রাখছ্যে</p>
<p>‘আঞ্চলিক ভাষার আবৃত্তির কবিতা’</p>
<p>আর দাম রাখছ্যে - ছশ আটশ!</p>
<p>কিন্তু এই ব্যবসা ত বন্ধ করত্যে হবেক কাকা</p>
<p>দেখল্যে নাই তুমার আমার সকলের প্রতিবাদেই</p>
<p>মদের নাম ট সরকার হড়বড়ায়্যে বদল করল্য</p>
<p>তেমনি আমাদের গান – আমাদের সুর</p>
<p>আমাদের ভাষা - আমাদের লাচ </p>
<p>আমার গরব বটে - অহংকার বটে। </p>
<p>আর সেই অহংকারকে যারা কালি মাখায়্যে</p>
<p>আমাদের সমসকিতিকে যারা অপমান করছ্যে</p>
<p>তাদের মুহে ঝাঁটা মার‍্যে, মাথা ট নাড়হা কর‍্যে</p>
<p>ঘোল ঢাল্যে খালি পায়ে রাস্তায় ঘুরাত্যে হবেক। </p>
<p>তা না হল্যে আমাদের গরব আমাদের অহংকার</p>
<p>সব ধুলায় মিশে জাবেক কাকা। </p>
<p>পুরুল্যা ট কখনো আগু দিকে আগাবেক নাই</p>
<p>পিছন দিকে পড়্যে ধুলায় লটপটাব্যেক!</p>
