<p>কি দে’খছো হে কবি</p>
<p>পলাশ বনে আপন মনে কি দে’খছো হে কবি? </p>
<p>ফুল? হঁ হঁ ফুল ত দেখব্যেই </p>
<p>আরও কত কি দেখব্যে! </p>
<p>ডাগর ডাগর চখ্যে ইদিক উদিক মু-ট ঘুরাই</p>
<p>ভাল্যে ভাল্যে ঘাস পালহা আরও কত কি।</p>
<p>বুঝেছি কবি বুঝেছি - সব বুঝেছি</p>
<p>বাসাতের কানে কানে বোধয় গল্প ক’রছো </p>
<p>তা না হল্যে বসন্ত পরবে পেমিকার গলা থাইকে</p>
<p>ভাস্যে আসা বিরহ আর সুরের লহর ঝাড়া</p>
<p>কবিতা শুনছ্য কবি, কবিতা।</p>
<p>তুমার ত কবিতা আর গায়েন শুনারই সময়</p>
<p>কিন্তু হেঁ কবি, </p>
<p>উ-গুলান আমি ক্যানে শুনত্যে নাই পাই? </p>
<p>আমি যখন বাসাতে কান পাতছি</p>
<p>তখন আধপুড়া লাশের গোঙানি </p>
<p>আর পুড়া মানুষের আত্মার কাঁদনা ছাড়া</p>
<p>কন্‌হই শুনত্যে নাই পাছি! </p>
<p>নাখ-ট বন্ধ হয়ে যাছ্যে চাম পুড়ার গন্ধে </p>
<p>বারুদের বাসে হাঁচি পড়ছ্যে মুহে। </p>
<p>আর চ’খ গুলানকে বলিহারি আইজ্ঞা- </p>
<p>উর্দি পরহা লোকগুলার লুকাচুরি খেলা </p>
<p>আর্তের কান্নাকে আঁচল ঢাকাবার খেলাটকে</p>
<p>চখ্যে আঙ্গুল দিয়ে দেখাই দিছে। </p>
<p>পলাশ ত আবার ফুটব্যেক কবি </p>
<p>বসন্তও আইসব্যেক নিয়ম মানে</p>
<p>আর কবিতা সে ত রাত জাগাবেকই </p>
<p>কিন্তু, এখন যে রাস্তায় নামার সময়,</p>
<p>আগুন নিভাবার সময়, </p>
<p>আধমরা কঙ্কালের পাশে দাঁড়াবার সময়। </p>
<p>কি কবি আমি ঠিক বলছি ন? </p>
