<p>লেনিনের সঙ্গে কিছুক্ষণ</p>
<p>বুঝল্যে খুড়া,</p>
<p>সেদিন আচকায় দেখা হল লেনিনের সঙ্গে</p>
<p>দমতক কথা হল্য গোপনে</p>
<p>ছেঁড়া খাটের পাশটাই বস্যে</p>
<p>মনের সুখে গড়গড় কর‍্যে কথা বললি আমরা।</p>
<p>আমি ত শেষমেশ শুধায়েঁই ফেললি</p>
<p>বললি, হে লেনিন</p>
<p>বিশ্বের চারদিকে আজ তুমার মুত্তি ভাঙছ্যে</p>
<p>কালি মাখাছ্যে তুমার মুহে</p>
<p>ইগুলা দেখে শু’নে তুমার কি মনে হছ্যে?</p>
<p>মুচকি হাসি হাস্যে</p>
<p>দাড়িতে হাত বুলাত্যে বুলাত্যে বলল্য-</p>
<p>ইটাই ত স্বাভাবিক ঘটনা,</p>
<p>যারা এমন কাজ করছ্যে তাদের ভিতরটা</p>
<p>ডরে ভয়ে ধড়পড়াছ্যে, বুকটা কাঁপছ্যে!</p>
<p>আসলে উহারা ভয় পাছ্যে বামপন্থাকে --</p>
<p>বামপন্থাই পারে সব্বগ্রাসী সব্বনাশী</p>
<p>সাম্রাজ্যবাদী শক্তির বুকে আঘাত করত্যে।</p>
<p>পারে তাদের লেজুড়ে আগুন ধরাত্যে। </p>
<p>আমি বোকাটে শিশুর মতন</p>
<p>কথাগুলা শুনত্যে শুনত্যে দেখছিলি</p>
<p>লেনিনের চখ্যে মুহে যেমন আগুন ঝ্যরছিল</p>
<p>আর সেই আগুন ঝরা কথা শু’ন্যে </p>
<p>আমার বুকছাতিটা ফুল্যে উঠছিল</p>
<p>পাকা ডিংলার মতন।</p>
<p>শিরায় শিরায় স্বপুনের লাচন আর</p>
<p>লতুন ভোরের সনালি আলোয় </p>
<p>যেন আগামীর ইতিহাস লিখছিল। </p>
<p>আমি আরও শুধাইছিলি খুড়া,</p>
<p>বলেছিলি - সময়ের এই জটিল ক্ষণে</p>
<p>তুমার কোনটা দমে খারাপ লাগে লেনিন?</p>
<p>একবুক হতাশা নিয়ে দাঁতে দাঁত চিপে বল্যেছিল - </p>
<p>খারাপ লাগে খুব যখন দেখি</p>
<p>সুবিধাবাদী চতুর একশ্রেণির মেকি বামপন্থী</p>
<p>লিজেদের স্বার্থে আমাকে ব্যবহার করে। </p>
<p>যখন দেখি ভুখা মানুষকে ঠকাই</p>
<p>কিংবা চালাকী কর‍্যে শ্রমিক মেহনতি মানুষকে</p>
<p>ভুল পথে নিয়ে যায়্যে বামপন্থার অপমৃত্যু ঘটায় তখন</p>
<p>চখ্যে জল আসে যখন দেখি </p>
<p>প্রতিক্রিয়াশীল শক্তির কাছে লিজেদেরকে সঁপে</p>
<p>কমিউনিজমের সব্বনাশ ঘটায় তখন। </p>
<p>আমার তিন নম্বর প্রশ্নটা আর করা হল্য নাই খুড়া</p>
<p>তার আগেই ঘুমটা গেল ভাইঙে !</p>
<p>কিন্তু জানো খুড়া - এখন শুধু লেনিনকেই খুঁজি</p>
<p>পথে ঘাটে - হাটে বাজারে , সব জায়গায় খুঁজি।</p>
<p>তবে হঁ। দেখি খুড়া দেখি। </p>
<p>প্রতিদিন প্রতি মুহূত্তে আমি সব্বহারা মানুষের</p>
<p>মুক্তির দিশারী মহামতি লেনিনকে দেখি। </p>
<p>জ্বলন্ত আগুনের শিখার মধ্যে আমি লেনিনকে দেখি</p>
<p>রাত দিন মুক্তির দিশারীর কথা শুনি লিশ্চিন্তে ।</p>
<p>আমি লেনিনকে দেখি - </p>
<p>আধপেটা ঘামঝরা শ্রমিকের মুখে। </p>
<p>দেখি রাতজাগা পাখির ডানার খাঁজে খাঁজে- </p>
<p>যে পাখি সকাল হল্যেই ডানার খোঁজে ছুটে।</p>
<p>লেনিনকে দেখি নিষ্পাপ শিশুর স্লেটে </p>
<p>আর দেখি, মিড-ডে-মিলের পাতে। </p>
<p>আমি প্রাণ ভর‍্যে লেনিনের কথা শুনি</p>
<p>ভুখা পেটে কাপড় বাঁধ্যে যে চাষি</p>
<p>বাইদ জমিতে ফসল ফলাই</p>
<p>সেই পুয়াতি ঝুলুর ধানের শিষের ডগায় ডগায়</p>
<p>লেনিনকে দুলত্যে দেখি, ফুলত্যে দেখি। </p>
<p>ব্লাউজে সেপটিপিন গুঁজে যে আদিবাসী ম্যায়াটা </p>
<p>এক মুঠা ভাতের লাগ্যে জনতার ভিড়ে লাচ দেখাই </p>
<p>সেই লাচের ছন্দে ছন্দে সুরে সুরে</p>
<p>উত্তরণের গান গাইতে লেনিনকে দেখি। </p>
<p>দেখি জনতার ভিড়ে মিছিলের পায়ে পায়ে</p>
<p>রুখা সুখা মানুষের কণ্ঠস্বর হয়ে বাঘের মতন গর্জাতে দেখি। </p>
<p>এক বুক বিপ্লবে স্বপুন বুকে হাটতে দেখি । </p>
<p>কাচা রাস্তার ধুলা আর পাকা পিচের ধুপসি রোদে</p>
<p>হাতুড়ির ঘায়ে পাথর ভাঙার শব্দে</p>
<p>লেনিন ছিল, লেনিন আছে - লেনিন থাইকবেক</p>
<p>চিরদিন চিরকাল ভুখা মানুষের বুকে।</p>
