<p>তিনটি লিমেরিক</p>
<p>(১)</p>
<p>ছ্যাঁড়া কাঁথায় দিলিস্‌ ত বাপ্‌ মুত্যে</p>
<p>বল ত আমি তুখে এখন কুথায় দিব শুত্যে</p>
<p>ছ্যাঁদা চালে ঝরছ্যে জল</p>
<p>থাকবি রাত্যে কুথায় বল?</p>
<p>সকাল বেলি যাত্যে হবেক ঝুলুর ধান রুত্যে। </p>
<p>(২)</p>
<p>বর্ষা ত বেশ ভালোই হল্য ধানও হবেক কাঁড়ি</p>
<p>পুদির মাকে কিনে দিব ঢাকাই তাঁতের শাড়ি।</p>
<p>তাখ্যে লিয়েই মহুল বনে</p>
<p>লাচব্য দুজন খুশি মনে</p>
<p>গামছা কাঁধে ছৈতা পর‍্যে যাব শ্বশুর বাড়ি।</p>
<p>(৩) </p>
<p>ও লেল্‌হির মা পলাশ বনে খেলব্য গো চল্‌ হলি</p>
<p>তুর খোঁপাতে গুঁজ্যে দিব কিষ্টচুড়ার কলি</p>
<p>বয়স হল্যেও মন আছে</p>
<p>ঢাল্যে দিব তুর কাছে </p>
<p>জোস্‌না রাত্যে প্রেমের কথা করব্য বলাবলি।</p>
