<p>মীনাক্ষী ফুল ফু’টছ্যে</p>
<p>গেরাম শহরের ঘরে ঘরে মীনাক্ষীরা জা’গছ্যে</p>
<p>শাসক শ্রেণির উদের দে’খ্যে ডরে ভয়ে রা’গছ্যে</p>
<p>ঘর দুয়ার সব ছাইড়ে দিয়ে মিছিল কর‍্যে হাঁটছ্যে</p>
<p>মিছিলের ঐ ভিড়টা দেখে মন্ত্রী নেতার ফাটছ্যে</p>
<p>রক্ত নিশান হাতে তুল্যে বাচাঁর কথা বলছ্যে</p>
<p>পদলোভী উরদিধারী ইসব দেখ্যে জ্বলছ্যে</p>
<p>মিনাক্ষী এক ফুলের নাম সকল ঘরে ফুটছ্যে</p>
<p>হাড়ে তাদের কাঁপন ধরে দেশটা যারা লুটছ্যে।</p>
<p>মীনাক্ষী এক প্রতিবাদ সুরের লাচন লাচছ্যে</p>
<p>তাদের দে’খ্যে তুখা মানুষ স্বপুন বুকে বাঁচছ্যে। </p>
<p>মীনাক্ষী এক তুষের আগুন দিকে দিকে জ্বলছে</p>
<p>শাসক তুমায় বলত্যে হবেক দেশটাতে কি চলছ্যে</p>
<p>লিতই লিতই খুনখারাপি রক্তে রাঙা হোলি</p>
<p>ডাঙ্গা ডহর ডুংরি টিলায় হছ্যে মানুষ বলি!</p>
<p>চলছ্যে কি হে চ’লছ্যে কিহে চ’লছ্যে কিহে দ্যাশে</p>
<p>অপকম্মের পরিণতি বুঝব্যে লেটা শ্যাষে</p>
<p>ঘুসের টাকায় ভুঁড়ি বাগাই লুটছ্যে তো বেশ মজা</p>
<p>মুখের থাইকে মুখোশ খুল্যে ভাল্যে দেখো সজা</p>
<p>মীনাক্ষী ফুল তোমার ঘরে দেখব্যে যখন ফুটব্যে</p>
<p>তখন তুমি কুথায় যাবে কন গাঢ়হাতে ঢুকব্যে</p>
<p>লাখো লাখো মীনাক্ষী মা দুগগা হয়ে লড়ছ্যে</p>
<p>গনেশ কাতু জগা ভগা একই রথে চড়ছ্যে</p>
<p>শাসক তুমি তৈরি থাকো পাবে ইবার সাজা</p>
<p>চারদিগেলে জাগছ্যে মানুষ শুনছ্যে মহারাজা </p>
