<p>খেলা হবেক খেলা</p>
<p>খেলা হবেক খেলা হবেক শুনছি বাজার হাটে</p>
<p>কিন্তু কেমন খেলা হবেক কন সবুজের মাঠে?</p>
<p>কেমন খেলা কিসের খেলা বুঝি নাইখ খুড়া</p>
<p>দেইখতে যাব লদীর ধারে নকি পাহাড় চূড়া?</p>
<p>মায়া মরদ ব্যাটা বিটি খেইলব্য ছিল আশা</p>
<p>সে গুড়েতে হল্য বালি স্বপুন হল্য ভাসা। </p>
<p>বুঝছি এখন খেলার ধরণ বুঝছি হাড়ে হাড়ে</p>
<p>দু হাত ভইরে টাকা লুঠিস গামছা বাইন্‌ধে আড়ে।</p>
<p>বালি পাচার গরু পাচার ইটাই তুদের খেলা</p>
<p>হামদেরকে ভুলাই রাখিস দেখাঁই কত মেলা।</p>
<p>আগুন নিয়ে খেলিস তুরা হাতে রাখিস বোমা</p>
<p>আধ পুড়া লাশ কাঁদছ্যে রে দ্যাখ্‌ কইরব্যেক লাই ক্ষমা।</p>
<p>বেকার গুলান চাকরির লাগ্যে মাখছ্যে পথে ধুলা</p>
<p>পাঁচশ টাকায় পেট ভরে কি কিম্বা ধরে চুলহা?</p>
<p>শ্রীতে কি আর মন ভরে গো যদি থাকে খিদা</p>
<p>স্বাস্থ্য সাথির কাড় হাতেই ত মরল্য আমার দিদা। </p>
<p>পাশ বালিশের শিল্প হবেক নাহয় তেলেভাজা</p>
<p>আবল তাবল ঝাড়ছ্যে বুলি মন্ত্রী নেতা রাজা।</p>
<p>ইস্‌কুলে আজ মাস্টর কই কে পড়হাবেক ছে’লা</p>
<p>ঋণের দায়ে মরছ্যে চাষি মরছ্যে কত হে’লা।</p>
<p>লিজের পেট-ট ভরার লাগ্যে সবাই পাগল পারা</p>
<p>ভুখা পেটে কলকলানি শুইনবেকই বা কারা। </p>
<p>চোর ছেঁচড়দের লাইন এখন হাসপাতালে দেখি</p>
<p>আদালতই দেখায় দিছে আসল কেবা মেকি। </p>
<p>প্রতিবাদীর গলা চিপে পুলিশ দিছে ঢাকা</p>
<p>মিছা কথায় বন্ধ এখন উন্নয়নের চাকা। </p>
<p>তোলাবাজ আর কাটমানিতে জীবন ডহডহ</p>
<p>দিনদুপুরে ধর্ষণ কেনে ঘটছে অহরহ। </p>
<p>চালাকি আর ভড়ংবাজি বহুত হল্য দেখা</p>
<p>মানুষ খাওয়া দিনেরর কথা রইলো বুকে লেখা। </p>
<p>বল্‌ন খুড়া সত্যি কর‍্যে, এই ভাবে কি চলে? </p>
<p>রক্ত হোলি মানুষ বলি দম্যে হল্য খেলা</p>
<p>লুঠ্যে নিয়ে ফুট্যে দিল মন্ত্রী লেটা চ্যালা। </p>
<p>ঢের খেলা ত খেললি রে বাপ ইবার খেলব্য মোরা </p>
<p>আন্দোলনের চড়চড়িটা দেখবি ভাল্যে তোরা। </p>
<p>খেলার মাঠ ট দক্ষ লিবেক শ্রমিক কৃষক চাষি</p>
<p>মাঠের বাইরে দাঁড়হায় তুরা দেখবি তাদের হাসি।</p>
<p>খেলত্যে যায়্যে কাপড় খুল্যে ন্যাংটা হছ্যে রাজা</p>
<p>ভুখা মানুষ জাগছ্যে ইবার দিবার লাগ্যে সাজা। </p>
<p>‘আচ্ছে দিন’, ‘দুয়ারে সরকার’ আনেক হল ভেলকি</p>
<p>চোরে চোরে মাসতুতো ভাই এটাই তুদের খেলকি। </p>
