<p>পেরেম খুঁজছি</p>
<p>কি যে বলছ্য তুমি? পেরেম?</p>
<p>না আইজ্ঞা। উ-টা আর করা হল্য নাই জীবনে</p>
<p>যে আ’সবার কথা ছিল</p>
<p>সে আল্যই না মু-তল তক্ক</p>
<p>দাঁড়ালই নাই আমার পাশাপাশি বা মুখামুখি</p>
<p>তবে হঁ। আস্যেছিল। আস্যেছিল একদিন</p>
<p>চুপচাপ নীরবে একেবারে লিঝুমে</p>
<p>দাঁড়াইছিল মাথা তলে</p>
<p>কানে কানে বল্যেছিল বুখের ব্যথা</p>
<p>আর না বলা ভালোবাসার কথা</p>
<p>কিন্তুক কথা শুনে নাই। কথা শুনে নাই আমার। </p>
<p>ঝুপ কর‍্যে মিলাই গেইছিল লীল আকাশে </p>
<p>বিশ্বাস কর, বিশ্বাস কর, আমি আজও খুঁঝি সেই মুখ </p>
<p>পুখ্যুর ঘাটে সিনান করার ভিড়ে</p>
<p>সেই চিন্‌হা কুঁচকানো হাঁটু তক্ক চুল</p>
<p>আর ধবধব্যা লাল পাড়্যা শাড়ি। </p>
<p>খুঁজি ক্ষেত খামার ইট ভাটার শ্রমিকের ভিড়ে</p>
<p>শুঁকে শুঁকে ঘুর‍্যে দেখি চিন্‌হা চুল্যের বাস</p>
<p>গতর থাইকে বাইরায় আসা সেই মাটির গন্ধ। </p>
<p>বাজার হাটে লাখো মানুষের ভিড়ে </p>
<p>শু’ন্যে লিতে চাই সেই আওয়াজ</p>
<p>যে আওয়াজ গামছা বাঁধা ভুখা পেটের আওয়াজ</p>
<p>যে আওয়াজ আধঘুমা মানুষকে জাগাবার আওয়াজ </p>
<p>যে আওয়াজ বুকফাটা মায়ার গোপন কান্নার আওয়াজ।</p>
<p>বিশ্বাস কর মহুল থাক্যে পলাশ বন</p>
<p>পাহাড় থাক্যে লদীর ধারে খুঁজেছি</p>
<p>খুঁজেছি ফেসবুকের পাতায় পাতায়, </p>
<p>কবিতার আঁচল আছড়ায় পাছড়ায়</p>
<p>জীবনটাকে কেরোসিন কর‍্যে শুধু খুঁজেছি</p>
<p>পেরেম খুঁজত্যে খুঁজত্যে লুবলুব্যা সুয়াং ট</p>
<p>ভাইঙ্গে চৌচির হয়্যে গেল</p>
<p>পাঁজরার হাড়গুলা কঙ্কালের মত বাইরায় গেল। </p>
<p>রাস্তা হাঁটত্যে হাঁটত্যে ঝলস্যে গেল চামড়া</p>
<p>না বলা শব্দ গুলান এলো মেলো হয়্যে</p>
<p>বিবর্ণ খিঁচুড়ির মতন কেমন যেন গেবদি ঘাটা হয়্যে গেল</p>
<p>কিন্তু পেরেম করা আর হল্য নাই আইজ্ঞা। </p>
<p>আসলে পেরেম ট মনে হয় বিধির লিখন বটে। </p>
<p>তবে হাল ছাড়ি নাই-</p>
<p>হাল ছা’ড়বার লোক আমি লই</p>
<p>ঠিক খুঁজে লিব আমার পেরেম</p>
<p>আর যখন পাব তখন?</p>
<p>তখন শাড়ির আঁচলায় মু-ট ঢুকায়</p>
<p>উগরায় দিব আমার মনের কথা</p>
<p>আর উছড়াই দিব পেটের অক্ষর গুলান। </p>
<p>লিশ্চিত কর‍্যে বলছি আমার বিশ্বাসে জোর আছে</p>
<p>খুঁজতে খুঁজতে ঠিক একদিন পৌঁছে যাব লীল আকাশে</p>
<p>সেখান থাক্যে হাতড়াই বার করব্য আমার পেরেম</p>
<p>কারণ জীবন আইড়ে খুঁজছি - শুধু খুঁজছি</p>
<p>পেরেম – পেরেম – আমার পেরেম!</p>
