<p>পুরুল্যার কড়চা</p>
<p>কাঁসাই লদীর শীতল জলে সাঁতার দিবি আয়</p>
<p>দেখবি মায়ের আদর আছে যেটা কুথাও লাই।</p>
<p>শাল পিয়ালের সবুজ বনে লাচে দিলে সঙ</p>
<p>মনের ভিতর লুকাই আছে দেখবি কত রঙ।</p>
<p>বাঁচার মতন ছন্দ আছে আছে বহুত সুর</p>
<p>ডুংরি টিলহায় চাপল্যে পরে দেখবি বহুত দূর।</p>
<p>সুয্যি মামা রা-কাড়ব্যেক শুনবি দিয়ে মন</p>
<p>মনের ভিতর স্বপুন গুলান হবেক আপনজন। </p>
<p>সাঁঝ বিহানে হ্যেঁড়া খায়ে দেখাই কত লাচ</p>
<p>আদর কইরে সবকে খাওয়াই ডোভা ঝিঁটা মাছ।</p>
<p>পরব আল্যেই কুলহি মুড়ায় বসাই চাঁদের হাট</p>
<p>মহুল রসে মাতাল হইয়ে দেখাই লিজের ঠাট।</p>
<p>চিটা মাটির মাদৈল গুলান বলে যখন বোল</p>
<p>ছৈতা পইরহে মরদ বাজায় ঢোলের সঙে খোল। </p>
<p>মায়া গুলান খোঁপায় গুঁজ্যে হল্যুদ গাঁদা ফুল</p>
<p>লাচ্যে ক্যুদে আসর মাতায় লাফায় কানের দুল।</p>
<p>ছলাৎ ছলাৎ লহর তুলে কাঁসাই লদীর জল</p>
<p>সাদা সিধা মানুষ গুলার নাইখ মনে ছল।</p>
<p>বারো মাসে চোদ্দ পরব ঝুল্যুর ধানের গান</p>
<p>পুরুল্যার ছৌ ঝুম্যুর ভাদু বাড়হায় দ্যাশের মান। </p>
<p> বন পাহাড়ও কথা বলে শুনতে পাত কান</p>
<p>ই সব ভাষা ব্যুঝতে গেলে চাই যে মনের টান।</p>
<p>দ্যাশ বিদ্যাশের বাবু আল্যে বুকেতে দেয় থান</p>
<p>পলাশ দিয়ে দেখাই তাদের ভালবাসার টান। </p>
