<p>পাঁঠার দাম</p>
<p>কি হল্য চিনতে লারছ্য? </p>
<p>কি কর‍্যে পারব্যে! এখন ত আর সেই রং রূপ নাই</p>
<p>শরীর ট শুখাই শুকনা কাঠের পারা হয়ে গেছ্যে</p>
<p>বুকটা শাড়ির সাথে মিশে গেছ্যে</p>
<p>টুকু মনে কর‍্যে দ্যাখো</p>
<p>সেই তুমরাই ন একসময় আমার পিছনটাই - </p>
<p>হুলুক ভুলুক কর‍্যে লুকলুকানি খেলত্যে - </p>
<p>মাছি পালের মতন ভন্‌ভন্‌ করত্যে।</p>
<p>কুলহির মুড়ায় একা পাল্যে সিটি বাজাত্যে। </p>
<p>কি ইবার নিশ্চয় মনে পড়ছ্যে? </p>
<p>মনে নাইখ আমার বাপ যখন আমার বিহা লাগাই ছিল</p>
<p>তখন পণের টাকা জোগাড় করত্যে</p>
<p>তুমাদের দুয়ারে দুয়ারে মাগত্যে যাথ্য </p>
<p>তুমরা বলত্যে - </p>
<p>বিহা দিবার ক্ষমতা লাই ত জন্মাই ছিলিস ক্যানে</p>
<p>পনের টাকা জোগাড় করত্যে পারে নাই বল্যে</p>
<p>ছামড়া তল থাক্যে বর গেল ঘুর‍্যে। </p>
<p>আর আমার বাপ-ট লজ্জা অপমানে </p>
<p>গলায় দড়ি নিয়ে মর‍্যে দিল! </p>
<p>কি এবার লিশ্চয় থুবড়া শিবানীকে মনে পড়ছ্যে? </p>
<p>বলি হ্যাঁ গো বাবুরা তাও নাই মনে পড়ছ্যে, </p>
<p>সেই আঘন মাসের কথা ভুলে গেলে?</p>
<p>আমাকে যখন দেখত্যে আল্য রাঙাডহরের লোকগুলান</p>
<p>দেখ্যে পছন্দ হল্য দম্যে-</p>
<p>মাপ মরা বিটি বল্যে মাত্র তিন লাখ পণ খুঁজ্যেছিল, </p>
<p>বল্যেছিল চাকরি করা ব্যটার ত দাম আছে।</p>
<p>আমি তখন যৌবনের উন্মাদনায় তিড়কে উঠে বল্যেছিলি</p>
<p>তুমাদের ব্যাটা কি ছাগল পাঁঠা বটে, </p>
<p>ন দামড়া বলদ গরু যে দামের কথা বলছ্য!</p>
<p>তার পর যা হবার তাই হল্য!</p>
<p>আমাকে লিয়ে চারদিকে ঢি ঢি পড়্যে গেল, </p>
<p>অপয়া, কালনাগিনী আরও কত নাম দিয়েছিলে। </p>
<p>একটা নামও নাই মনে পড়ছ্যে? </p>
<p>আসলে মনে ঠিকই পড়ছ্যে ভিতরে ভিতরে</p>
<p>কিন্তু স্বীকার করত্যে লারছ্য, </p>
<p>তুমরা হল্যে সমাজের দামি পাঁঠা</p>
<p>লাঙ্গল টানা ছটপট্যা বলদ যে।</p>
<p>কি শিবানীর কথা গুলান গায়ে জ্বালা লাগছ্যে</p>
<p>লাগব্যেক – লাগব্যেক যেদিন আমার মতন</p>
<p>সব থুবড়া মায়া গুলান পণের বিরুদ্ধে </p>
<p>এক হয়ে আগুনের মতন জ্বলে উঠবেক</p>
<p>সেদিন তুমাদের মটা চামড়া ট</p>
<p>ধুড়স্যে কাল হয়্যে যাবেক</p>
<p>আর ধিংড়ি বিটিছিলা গুলানকেও বলি,</p>
<p>আর কত গঞ্জনা সইবে?</p>
<p>বাপ-মাকে দুঃখু দিয়ে সুখের স্বপুন দেখ্যে</p>
<p>মিছা ভালোবাসার ঘর না বাধ্যে</p>
<p>আস্য ন সবাই বলি</p>
<p>ইবার থাক্যে আর কেউ পণ নাই দিব</p>
<p>শপথ করি এই ভাবেই লড়াই করার। </p>
<p>দেখব্যে সব পাঁঠার দাম কেমন কম্যে যাবেক</p>
<p>সবাই লিমুসক্যার মতন আমাদের পায়ের তলে</p>
<p>হাত জোড় করে ঘুর ঘুর করব্যেক।</p>
<p>আর আমার মতন সব শিবানীকে</p>
<p>চিনবেক এক ডাকে এক হাঁকে । </p>
