<p>টুসু গান</p>
<p>বাংলা মায়ের সাধের দুলালী</p>
<p>ও তুই বাংলাটাকে ডুবালি</p>
<p>মঞ্চ সাঝাই মাইক নিয়ে মিছা কথা শুনালি</p>
<p>শিল্পের নামে চপ শিল্পে সবাইকে আজ ভুলালি।</p>
<p>চাকরির নামে টাকা লুঠের নতুন খেলা দেখালী</p>
<p>শ্রী শ্রী অনেক শ্রী শেষে বাংলার শ্রী ঘুচালি।</p>
<p>স্বাস্থ্য সাথির কথা শুনায় ভোট টা শুধু চুকালি</p>
<p>করণাকে বাড়হায় দিয়ে মানুষ গুলা মরালি।</p>
<p>বাজার দরে আগুন দেখেও মূহে কুলুপ লাগালি</p>
<p> ভুখা মানুষ ভুলাই তুরা লিজের গদি বাগালী।</p>
<p>দানখয়রাতির খেলা খেলে যাদেরকে তুই হাঁকালি</p>
<p>তাদের চইখ আজ খুলে গেইছে বুঝেছে তুর মাতালি।</p>
<p>কইলকাতাকে লন্ডন বানাই অল্প জলে ভাসালি</p>
<p>উন্নয়নের রাস্তাগুলা দাঁত খিঁচায়ে হাসালি।</p>
<p>তরুণ কবি বলে ইবার, অনেক তো তুই ঝাঁপালি</p>
<p>দূর হয়ে যা দূর হয়ে যা অনেক দিদি সাঁথালি।</p>
