<p>লিহাই চাইনা</p>
<p>----------- </p>
<p>ই কি চলছ্যে মাগো দুনিয়াটাতে </p>
<p>আমি ত কনহই ব্যুঝতে লারছি! </p>
<p>বন বন শন শন কর‍্যে আকাশে উড়ছ্যে জাহাজ</p>
<p>আর উপর থাইকেই ফেলে দিছ্যে ধড়াস ধড়াস বোমাগুলি</p>
<p>বারুদের ধুঁয়ায় চারদিক ট আঁধার হয়্যে যাছ্যে!</p>
<p>সেই কুঁখড়া লড়াই -এর মতন। </p>
<p>ই আগাছ্যে ত উ পিছাছ্যে - উ আগাছ্যে ত ই পিছাছ্যে </p>
<p>শেষে যা হবার তাই হছ্যে। </p>
<p>কখনো রুশবাহিনী লেতাড়্যে মারছ্যে</p>
<p>আর কখনও ইউক্রেনও লেতাড়্যে লেতাড়্যে কাঁপাই দিছ্যে, </p>
<p>লিহাইটকে লাগায় দিয়্যে গলাটাকে ফাইড়ে</p>
<p>ঠাণ্ডা ঘরে বস্যে মন্ত্রীগুলান ভাষণ মারছ্যে, </p>
<p>বল্যছে লিহাই চলছ্যে চলব্যেক </p>
<p>ই লিহাই বাঁচার লিহাই – ই লিহাই সম্মানের লিহাই!</p>
<p>আমি বলছি গো আমি! চিন্‌তে লারছ্য? </p>
<p>সেই কাশ্মীরের যুদ্ধে আমার সোয়ামি মরল্য নাই,</p>
<p>উহার বউ! দু-ছেলার মা আমি! </p>
<p>বলি লিহাই মানেই ত শত শত সেনার মরণ</p>
<p>হাজার হাজার সরল সাদা মানুষের মরণ। </p>
<p>আমার মতন কত জুয়ান বউ বিধবা হবেক,</p>
<p>কত মায়ের বুক ফাট্যে যাবেক </p>
<p>কত সন্তান বাবা হারা হয়ে অনাথ হবেক। </p>
<p>সাধারণ মানুষের বুকে কান পাত্যে শুন - ইসব লিহাই কেউ চাই নায় </p>
<p>আর বলি এত লিহাই লিহাই-এর কি দরকার</p>
<p>সবাই বস্যে আলোচনা কর‍্যে সব মিটাই লাও।</p>
<p>তবেই ত সব ল্যাঠা চু’কে যাবেক।</p>
<p>ই সেই রাজায় রাজায় যুদ্ধ হয় </p>
<p>উলুখাগড়ার পেরান যায়। </p>
<p>আর রাজাদেরই বা বলব্য কি! উহারাও ত পুথ্যুল বঠে </p>
<p>খেলাটা ত খেলছ্যে মহারাজা</p>
<p>যে পর্দার আড়ালে মু-টা ঢুকাই</p>
<p>মুচকি মুচকি হাস্যে মচে তাও দিছ্যে।</p>
<p>আর সেই বতরে গুচ্চ্যেক শয়তান দূর থাইকেলেই - </p>
<p>আড় বাঁশিতে ফুঁ দিছ্যে আর হুঁকরাছ্যে।</p>
<p>কখনও কখনও শয়তানে শয়তানেও কলাকুলি করছ্যে ।</p>
<p>#</p>
<p>আমি আইজ্ঞা সোয়ামি হারার যন্ত্রণা বুঝি</p>
<p>বুঝি বাপহারা শিশুর আঙরার মতন কলিজার বেদনা</p>
<p>আমি ঠাওর করেছি ব্যাটা হারা বাপের আগ্যুড়কুনে বস্যে </p>
<p>হুঁকরি পিঠে কাঁদনা </p>
<p>ঠাওর করেছি ব্যাটাহারা মায়ের আঁচল ঢাকা গুমরে মরার জ্বালা</p>
<p>আর ভাই হারা দাদার বুকদাবড়ি গোঙানি ।</p>
<p>#</p>
<p>দাদা হারা বহিনের সরল মুহের আর্তনাদ</p>
<p>আমার বুকের পাঁজরা গুলাকে দমাড়্যে মচাড়্যে ভাইঙে দিয়েছে আইজ্ঞা</p>
<p>তাই হাত জোড় কর‍্যে মাথাটা নুয়াই</p>
<p>সবার কাছে লেহর করছি-</p>
<p>বন্ধ কর , বন্ধ কর ইসব মরণ খেলা</p>
<p>বন্ধ কর এমন ধ্বংস লীলা </p>
<p>লাক লাক মানুষের কণ্ঠস্বরকে এক করে আমি আঁড়রাই আঁড়রাই বলছি</p>
<p>শান্তি চাই- আমরা শান্তি চাই</p>
<p>আস্য সমস্ত মানুষ অশান্তির আগুনে</p>
<p>লদির মতন মনটা থাইকে এক আঁঝলা জল ঢাল্যে</p>
<p>শান্তির পতাকাটা পত্‌ পত্‌ করে উড়াই দিই!</p>
