<p>উন্নয়নের ফিরিস্তি</p>
<p>উন্নয়ন উন্নয়ন আর উন্নয়ন</p>
<p>লিতই লিতই উন্নয়নের ফিরিস্তি শুনে</p>
<p>বড়ই থকানতি লাগছ্যে হে</p>
<p>পেঁদা গপ্প আর নাই ভালো লা’গছ্যে। </p>
<p>টুকু দান খয়রাতি আর কেজি কতক চাল</p>
<p>তাথে কি আর পেট ভরে খুড়া</p>
<p>পেটের ভিতরটা যে একটা হদলা গাঢ়হা </p>
<p>কাজ নাই কম্ম নাই – ছ্যালা মায়া গুলান</p>
<p>সপুর‍্যাপড়া আর বাসি মাড় খাইয়ে খাইয়ে</p>
<p>রাস্তায় রাস্তায় ঘুরছ্যে কাজের লাগ্যে । </p>
<p>আর যারা টুকু কামাছ্যে তারা ত</p>
<p>সন্ধ্যা হলে কুলহি মুড়ায় নাই ত ধারিতে বস্যে</p>
<p>মদ টা মার‍্যে ঝাঁপাছ্যে আর বউ-বিটিকে পিটাছ্যে। </p>
<p>উন্নয়ন মানে ত মদ দোকানের ছড়াছড়ি</p>
<p>উন্নয়ন মানে বাজার দরে হুহু কর‍্যে আগুন</p>
<p>উন্নয়ন মানে সাইকেল আর ছেলার হাতে মুবাইল</p>
<p>উন্নয়ন মানে মন্ত্রী নেতার ভাষণ শাসন</p>
<p>আর গাল ভরা মিথ্যা প্রতিশ্রুতি।</p>
<p>তবে হঁ আইজ্ঞা উন্নয়ন হয়েছ্যে</p>
<p>উন্নয়ন হয়েছ্যে নেতা মন্ত্রী আর তাদের ভাই ভাতিজার</p>
<p>উন্নয়ন হয়েছ্যে চাটুকার আমলা আর কিছু পুলিশের</p>
<p>উন্নয়ন হয়েছ্যে খুনি, আসামি, ধর্ষকের</p>
<p>যারা বুক ফুলায় ঘুরে বুলছ্যে। </p>
<p>উন্নয়নের বাহার দেখত্যে দেখত্যে </p>
<p>ভুখা পেটের রাত জাগা অক্ষর গুলান বারুদের ধুঁয়া হয়ে</p>
<p>ছড়ায় যাছ্যে ক্ষেতে খামারে ইট ভাটার আনাচে কানাচে</p>
<p>কাকদ্বীপ থাইক্যে পুরল্যার নীল আকাশে বাতাসে। </p>
